<div class="overview-header">
    @if (showImages) {
        <div class="image"></div>
    }
    @for (column of columns; track column) {
        <div class="{{ column.class }}" (click)="sortOn(column)"
             [sharedTooltip]="getTooltipConfig(column)">
            <span>{{ column.title }}</span>
            @if (column.sortField === sortField) {
                <img alt="arrow"
                     [src]="arrowImage" [ngClass]="getArrowClass(column)"/>
            }
        </div>
    }
    <div class="icons">&nbsp;</div>
</div>
<cdk-virtual-scroll-viewport [itemSize]="itemSize" class="viewport" (scroll)="onScroll()">
    <div class="overview-body" [style.padding-bottom.px]="getPaddingBottom()">
        <ng-container *cdkVirtualFor="let album of albums">
            @if (!album.getDeleted()) {
                <div class="album-row"
                     [ngClass]="isSelected(album)" (click)="select(album)">
                    <music-catalog-album
                            (mcCommunicationOut)="processInputFromAlbumRow($event)"
                            [album]="album"
                            [mcCommunication]="outputToAlbumRow"
                    ></music-catalog-album>
                </div>
            }
        </ng-container>
    </div>
</cdk-virtual-scroll-viewport>
<button class="btn-primary scroll-up" (click)="scrollUp()">To top</button>
@if (showCurrentPage) {
    <div class="page">Page {{ currentPage }}</div>
}
@if (showAlbumEdit) {
    <music-catalog-album-edit
            [album]="albumToEdit"
            (mcCommunication)="processInputFromAlbumEdit($event)">
    </music-catalog-album-edit>
}

