<div class="overview-header">
    <div class="image" *ngIf="showImages"></div>
    <ng-container *ngFor="let column of columns">
        <div class="{{ column.class }}" (click)="sortOn(column)"
             [sharedTooltip]="getTooltipConfig(column)">
            <span>{{ column.title }}</span>
            <img *ngIf="column.sortField === sortField" alt="arrow"
                 [src]="arrowImage" [ngClass]="getArrowClass(column)"/>
        </div>
    </ng-container>
    <div class="icons"></div>
</div>
<div #musicCatalogOverview class="overview-body">
    <div class="album-row" *ngFor="let album of albums" (click)="edit(album)">
        <music-catalog-album
                (mcCommunicationOut)="processInputFromAlbumRow($event)"
                [album]="album"
                [mcCommunication]="outputToAlbumRow"
        >
        </music-catalog-album>
    </div>
    <button class="btn-primary scroll-up" (click)="scrollUp()">To top</button>
</div>
<music-catalog-album-edit *ngIf="showAlbumEdit"
                          [album]="albumToEdit"
                          (mcCommunication)="processInputFromAlbumEdit($event)">
</music-catalog-album-edit>

