custom-modal {
    display: none;
}

div.music-catalog, custom-modal {
    font-family: "Andale Mono", "trebuchet ms", verdana, arial, sans-serif;
    font-size: 12px;

    music-catalog-header, music-catalog-overview {
        display: block;
    }
}
