@import 'styles/defines';

custom-modal {
    display: none;
}
div.music-catalog {
    padding: 0;
    margin: 0;

    music-catalog-header, music-catalog-overview {
        display: block;
        min-width: @min-width;
    }
    music-catalog-header {
        position: fixed;
        top: 0;
        width: 100%;
        height: @header-height;
        background: @secondary-color;
        padding: 0 @padding-overview-body-side;
        border-bottom: 1px solid @primary-color;
        z-index: 1;
        white-space: nowrap;
    }
    music-catalog-overview {
        width: 100%;
    }
    music-catalog-login {
        position: fixed;
        top: 50px;
        width: 100%;
    }
}
