<div class="music-catalog">
    <music-catalog-header
            (mcCommunication)="processInputFromHeader($event)">
    </music-catalog-header>
    <music-catalog-overview
            *ngIf="loggedIn"
            [mcCommunication]="outputToOverview"
            (authorised)="processInputFromOverview($event)">
    </music-catalog-overview>
    <music-catalog-login
            *ngIf="!loggedIn"
            (loggedIn)="processInputFromLogin($event)">
    </music-catalog-login>
    <custom-modal id="message-modal"></custom-modal>
    <shared-tooltip-container></shared-tooltip-container>
</div>
