@import "../../styles/defines";

.transition(@property: opacity; @duration: .5s; @timing-function: ease-in) {
    -moz-transition: @arguments;
    -webkit-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}

.tooltip-component-text {
    min-width: 80px;
    background-color: @primary-color;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 5;
    margin-top: -10px;
    font-size: 12px;
    font-weight: 600;
    display: table;
    opacity: 0;
    .transition(opacity; .2s; ease-out);
    white-space: nowrap;

    span.tooltip-arrow-bottom {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border: 5px solid transparent;
        border-top-color: @primary-color;
        opacity: 0;
        .transition(opacity; .2s; ease-out);
    }

    span.tooltip-arrow-top {
        position: absolute;
        bottom: 100%;
        right: 50%;
        margin-right: -5px;
        border: 5px solid transparent;
        border-bottom-color: @primary-color;
        opacity: 0;
        .transition(opacity; .2s; ease-out);
    }

    span.show {
        opacity: 1;
    }

    &.show {
        opacity: 1;
    }
}
