<div class="custom-modal">
    <div class="custom-modal-body" [style.width.px]="getWidth()">
        <div class="message">
            <ng-container *ngFor="let message of messages">
                <span [ngClass]="getStyle(message)">{{ message.text }}</span>
            </ng-container>
        </div>
        <div class="buttons">
            <button class="btn-primary" (click)="close()" *ngIf="showCloseButton">Close</button>
            <button class="btn-primary" (click)="yes()" *ngIf="showYesButton">Yes</button>
            <button class="btn-secondary" (click)="no()" *ngIf="showNoButton">No</button>
        </div>
    </div>
</div>
<div class="custom-modal-background"></div>