<div class="custom-modal">
  <div class="custom-modal-body" [style.width.px]="getWidth()">
    <div class="message">
      @for (message of messages; track message) {
        <span [ngClass]="getStyle(message)">{{ message.text }}</span>
      }
    </div>
    <div class="buttons">
      @if (showCloseButton) {
        <button class="btn-primary" (click)="close()">Close</button>
      }
      @if (waiting) {
        <img [src]="loaderImage" alt="">
      }
      @if (showYesButton) {
        <button class="btn-primary" [disabled]="yesButtonDisabled"
        (click)="yes()">Yes</button>
      }
      @if (showNoButton) {
        <button class="btn-secondary" [disabled]="noButtonDisabled"
        (click)="no()">No</button>
      }
    </div>
  </div>
</div>
<div class="custom-modal-background"></div>