<div class="custom-modal">
    <div class="custom-modal-body">
        <h3 *ngIf="caption">
            {{ caption }}
        </h3>
        <div class="message">
            {{ message }}
        </div>
        <div class="buttons">
            <button class="btn-primary" (click)="close()" *ngIf="showCloseButton">Close</button>
            <button class="btn-primary" (click)="yes()" *ngIf="showYesButton">Yes</button>
            <button class="btn-secondary" (click)="no()" *ngIf="showNoButton">No</button>
        </div>
    </div>
</div>
<div class="custom-modal-background"></div>