<div class="album-edit">
    <div class="image" *ngIf="showImages">
        <img [src]="album.getImage()" alt="" *ngIf="album.getImage()"/>
        <div class="no-image" *ngIf="!album.getImage()">
            <div>no image available</div>
        </div>
    </div>
    <form class="album-edit" [formGroup]="albumEditForm">
        <fieldset>
            <div class="field">
                <label for="{{id}}-title">Title</label>
                <div class="input-with-error">
                    <input id="{{id}}-title"
                           type="text"
                           formControlName="title">
                    <div class="error" *ngIf="fieldError('title')">{{ getValidationMessage('title') }}</div>
                </div>
            </div>
            <div class="field">
                <label for="{{id}}-artist">Artist</label>
                <div class="input-with-error">
                    <input #artist id="{{id}}-artist"
                           type="text"
                           formControlName="artist"
                           [placeholder]="albumFields.get('artist').placeholder"
                           (keyup)="processKeyupOnArtist(artist.value, $event)">
                    <div class="error" *ngIf="fieldError('artist')">{{ getValidationMessage('artist') }}</div>
                </div>
                <ul class="artists-list" [style.display]="entityPopup === 'artist' ? 'block' : 'none'">
                    <li *ngFor="let artist of artists; let index = index"
                        (click)="selectArtist(artist)"
                        [ngClass]="index === selectedEntityNumber ? 'selected' : ''">
                        {{ artist.getName() }}
                    </li>
                </ul>
            </div>
            <div class="field year">
                <label for="{{id}}-year">Year</label>
                <div class="input-with-error">
                    <input #year id="{{id}}-year"
                           type="text"
                           formControlName="year"
                           [placeholder]="albumFields.get('year').placeholder"
                           (keyup)="processKeyupOnYear(year.value, $event)">
                    <div class="error" *ngIf="fieldError('year')">{{ getValidationMessage('year') }}</div>
                </div>
            </div>
            <div class="field notes">
                <label for="{{id}}-notes">Notes</label>
                <div class="input-with-error">
                <textarea id="{{id}}-notes"
                          type="text"
                          formControlName="notes">
                </textarea>
                    <div class="error" *ngIf="fieldError('notes')">{{ getValidationMessage('notes') }}</div>
                </div>
            </div>
        </fieldset>
        <div class="buttons">
            <button class="btn-primary" (click)="save()"
                    [disabled]="entityPopup !== 'none'">
                Save
            </button>
            <button class="btn-secondary" (click)="cancel()">Cancel</button>
            <div class="icons">
                <img alt="previous" [src]="previousImage" (click)="previousAlbum()"
                     [sharedTooltip]="{title: 'Previous'}"/>
                <img alt="next" [src]="nextImage" (click)="nextAlbum()" [sharedTooltip]="{title: 'Next'}"/>
            </div>
        </div>
    </form>
</div>
<div class="album-edit-background"></div>