<div class="album-edit" [ngClass]="getClassForWidth()">
    <form class="album-edit" [formGroup]="albumEditForm">
        @if (showImages) {
            <div class="image">
                @if (album && album.getImage()) {
                    <img [src]="album.getImage()" alt=""/>
                }
                @if (!album || !album.getImage()) {
                    <div class="no-image">
                        <div>no image available</div>
                    </div>
                }
                @if (album) {
                    <div class="re-fetch-image">
                        <label for="{{id}}-re-fetch-image">Get new image</label>
                        <input type="checkbox" id="{{id}}-re-fetch-image"
                               formControlName="re-fetch-image">
                    </div>
                }
            </div>
        }
        <fieldset>
            <div class="field">
                <label for="{{id}}-title">Title</label>
                <div class="input-with-error">
                    <input id="{{id}}-title" #title
                           type="text"
                           formControlName="title">
                    @if (fieldError('title')) {
                        <div class="error">{{ getValidationMessage('title') }}</div>
                    }
                </div>
            </div>
            <div class="field">
                <label for="{{id}}-artist">Artist</label>
                <div class="input-with-error">
                    <input #artist id="{{id}}-artist"
                           type="text"
                           formControlName="artist"
                           [placeholder]="albumFields.get('artist').placeholder"
                           (keyup)="processKeyupOnEntity('artist', artist.value, $event)">
                    @if (fieldError('artist')) {
                        <div class="error">{{ getValidationMessage('artist') }}</div>
                    }
                </div>
                @if (album) {
                    <div class="all-refs">
                        <label for="{{id}}-artist-all-refs" class="e-reader">Update all artist references</label>
                        <input type="checkbox" id="{{id}}-artist-all-refs"
                               formControlName="artist-all-refs"
                               [sharedTooltip]="{title: 'Update all references'}">
                    </div>
                }
                <ul class="selection-list" [style.display]="entityPopup === 'artist' ? 'block' : 'none'">
                    @for (artist of artists; track artist; let index = $index) {
                        <li
                                (click)="selectEntity('artist', artist)"
                                [ngClass]="index === selectedEntityNumber ? 'selected' : ''">
                            {{ artist.getName() }}
                        </li>
                    }
                </ul>
            </div>
            <div class="field year">
                <label for="{{id}}-year">Year</label>
                <div class="input-with-error">
                    <input #year id="{{id}}-year"
                           type="text"
                           formControlName="year"
                           [placeholder]="albumFields.get('year').placeholder"
                           (keyup)="processKeyupOnYear(year.value, $event)">
                    @if (fieldError('year')) {
                        <div class="error">{{ getValidationMessage('year') }}</div>
                    }
                </div>
            </div>
            <div class="field format">
                <label for="{{id}}-format">Format</label>
                <div class="input-with-error">
                    <input #format id="{{id}}-format"
                           type="text"
                           formControlName="format"
                           (keyup)="processKeyupOnEntity('format', format.value, $event)">
                    @if (fieldError('format')) {
                        <div class="error">{{ getValidationMessage('format') }}</div>
                    }
                </div>
                @if (album) {
                    <div class="all-refs">
                        <label for="{{id}}-format-all-refs" class="e-reader">Update all format references</label>
                        <input type="checkbox" id="{{id}}-format-all-refs"
                               formControlName="format-all-refs"
                               [sharedTooltip]="{title: 'Update all references'}">
                    </div>
                }
                <ul class="selection-list" [style.display]="entityPopup === 'format' ? 'block' : 'none'">
                    @for (format of formats; track format; let index = $index) {
                        <li
                                (click)="selectEntity('format', format)"
                                [ngClass]="index === selectedEntityNumber ? 'selected' : ''">
                            {{ format.getName() }}
                        </li>
                    }
                </ul>
            </div>
            <div class="field label">
                <label for="{{id}}-label">Label</label>
                <div class="input-with-error">
                    <input #label id="{{id}}-label"
                           type="text"
                           formControlName="label"
                           (keyup)="processKeyupOnEntity('label', label.value, $event)">
                    @if (fieldError('label')) {
                        <div class="error">{{ getValidationMessage('label') }}</div>
                    }
                </div>
                @if (album) {
                    <div class="all-refs">
                        <label for="{{id}}-label-all-refs" class="e-reader">Update all label references</label>
                        <input type="checkbox" id="{{id}}-label-all-refs"
                               formControlName="label-all-refs"
                               [sharedTooltip]="{title: 'Update all references'}">
                    </div>
                }
                <ul class="selection-list" [style.display]="entityPopup === 'label' ? 'block' : 'none'">
                    @for (label of labels; track label; let index = $index) {
                        <li
                                (click)="selectEntity('label', label)"
                                [ngClass]="index === selectedEntityNumber ? 'selected' : ''">
                            {{ label.getName() }}
                        </li>
                    }
                </ul>
            </div>
            <div class="field genre">
                <label for="{{id}}-genre">Genre</label>
                <div class="input-with-error">
                    <input #genre id="{{id}}-genre"
                           type="text"
                           formControlName="genre"
                           (keyup)="processKeyupOnEntity('genre', genre.value, $event)">
                    @if (fieldError('genre')) {
                        <div class="error">{{ getValidationMessage('genre') }}</div>
                    }
                </div>
                @if (album) {
                    <div class="all-refs">
                        <label for="{{id}}-genre-all-refs" class="e-reader">Update all genre references</label>
                        <input type="checkbox" id="{{id}}-genre-all-refs"
                               formControlName="genre-all-refs"
                               [sharedTooltip]="{title: 'Update all references'}">
                    </div>
                }
                <ul class="selection-list" [style.display]="entityPopup === 'genre' ? 'block' : 'none'">
                    @for (genre of genres; track genre; let index = $index) {
                        <li
                                (click)="selectEntity('genre', genre)"
                                [ngClass]="index === selectedEntityNumber ? 'selected' : ''">
                            {{ genre.getDescription() }}
                        </li>
                    }
                </ul>
            </div>
            <div class="field notes">
                <label for="{{id}}-notes">Notes</label>
                <div class="input-with-error">
                    <textarea id="{{id}}-notes"
                              type="text"
                              formControlName="notes">
                    </textarea>
                    @if (fieldError('notes')) {
                        <div class="error">{{ getValidationMessage('notes') }}</div>
                    }
                </div>
            </div>
        </fieldset>
        @if (album) {
            <div class="icons">
                <img alt="previous" [src]="previousImage" (click)="previousAlbum()"
                     [sharedTooltip]="{title: 'Previous'}"/>
                <img alt="next" [src]="nextImage" (click)="nextAlbum()" [sharedTooltip]="{title: 'Next'}"/>
            </div>
        }
        <div class="buttons">
            @if (waiting) {
                <img class="loader" [src]="loaderImage" alt="">
            }
            <button class="btn-primary" (click)="preSave(true)" [disabled]="saveDisabled()">Save and New</button>
            <button class="btn-primary" (click)="preSave()" [disabled]="saveDisabled()">Save</button>
            <button class="btn-secondary" (click)="cancel()" [disabled]="saving">Close</button>
        </div>
    </form>
</div>
<div class="album-edit-background"></div>
