@import '../../../styles/defines';

div {
    display: inline-block;
    padding: 2px 0 1px 0;
}
div.image {
    width: @width-image;
    position: relative;

    >img {
        width: 20px;
        padding-left: 5px;
        margin-bottom: -2px;
    }
    div.popup-image {
        width: 0;
        overflow: hidden;
        position: fixed;
        top: 150px;
        left: 200px;
        z-index: 2;
        opacity: 0;
        .transition-property(opacity, width;);
        .transition-duration(.5s, 0s;);
        .transition-delay(0s, .5s;);

        img {
            box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.4);
            margin: 20px;
            //border: 2px solid @tertiary-color;
        }
    }
    &:hover {
        div.popup-image {
            .transition-property(opacity, width;);
            .transition-duration(.5s, 0s;);
            .transition-delay(0s, 0s;);
            width: 500px;
            overflow: auto;
            opacity: 1;
        }
    }
}
div.artist {
    .ellipsis(@width-artist);
    padding-right: @padding-right-artist;

    span {
        cursor: pointer;
    }
}
div.title {
    .ellipsis(@width-title);
    padding-right: @padding-right-title;
    line-height: 17px;

    span {
        cursor: pointer;
    }
}
div.year {
    .ellipsis(@width-year);
}
div.format {
    .ellipsis(@width-format);
}
div.label {
    .ellipsis(@width-label);
    padding-right: @padding-right-label;

    span {
        cursor: pointer;
    }
}
div.genre {
    .ellipsis(@width-genre);
    padding-right: @padding-right-genre;
}
div.date-added {
    .ellipsis(@width-date-added);
}
div.icons {
    width: @width-icons;
    text-align: center;

    img {
        cursor: pointer;
        width: 12px;
        padding-left: 3px;
        padding-right: 3px;
    }
}
