<div class="image" *ngIf="showImages">
    <img [src]="imageSmall" alt="front cover" />
    <div class="popup-image" *ngIf="imageExtralargeExists">
        <img [src]="imageExtralarge" alt="front cover" />
    </div>
</div>
<div class="title">
    <span [sharedTooltip]="getTooltipConfig('title')">
        {{ album.getTitle() }}
    </span>
</div>
<div class="artist">
    <span [sharedTooltip]="getTooltipConfig('artist')">
        {{ album.getArtist().getName() }}
    </span>
</div>
<div class="year">
    {{ album.getYear() }}
</div>
<div class="format">
    {{ album.getFormat().getName() }}
</div>
<div class="label">
    <span [sharedTooltip]="getTooltipConfig('label')">
        {{ album.getLabel().getName() }}
    </span>
</div>
<div class="genre">
    {{ album.getGenre().getDescription() }}
</div>
<div class="date-added">
    {{ album.getDateAdded() }}
</div>
<div class="icons">
    <img alt="edit" [src]="editImage" [sharedTooltip]="{title: 'Edit'}"/>
    <img alt="delete" [src]="deleteImage" [sharedTooltip]="{title: 'Delete'}"/>
</div>
