@import '../../../styles/defines';

div {
    display: inline-block;
    padding: 2px 0 1px 0;
}
div.artist {
    .ellipsis(@width-artist);
    padding-right: @padding-right-artist;
}
div.title {
    .ellipsis(@width-title);
    padding-right: @padding-right-title;
}
div.year {
    .ellipsis(@width-year);
    text-align: center;
}
div.format {
    .ellipsis(@width-format);
    text-align: center;
}
div.label {
    .ellipsis(@width-label);
    padding-right: @padding-right-label;
}
div.genre {
    .ellipsis(@width-genre);
    padding-right: @padding-right-genre;
}
div.date-added {
    .ellipsis(@width-date-added);
}
