@import '../../../styles/defines';

div {
    display: inline-block;
}
div.artist {
    width: @width-artist;
}
div.title {
    width: @width-title;
}
div.year {
    width: @width-year;
}
div.format {
    width: @width-format;
}
div.label {
    width: @width-label;
}
div.genre {
    width: @width-genre;
}
div.date-added {
    width: @width-date-added;
}
